<tr style="font-size: 11px;background: rgba(0,0,0,0);">
    <td id="date"><a href="/custdetreport?date={{{_id}}}">{{_id}}</a></td>
    <td id="newCust">{{newCust}}</td>
	<td id="newCustRate">{{getFracRate newCust count}}</td>
    <td id="repCust" style="width: 128px;">{{repeatCust}}</td>
    <td id="repCustRate" style="width: 128px;">{{getFracRate repeatCust count}}</td>
    <td id="totalCust" style="width: 128px;">{{count}}</td>
</tr>