<tr style="font-size: 11px;">
	<td id="productID">{{productID}}</td>
	<td id="prodName">{{name}}<br></td>
	<td id="prodCateg">Tops<br></td>
	<td id="prodSize">{{size}}</td>
	<td id="prodColor" class="text-left">{{color}}</td>
	<td id"prodPrice" class="text-right">{{price}}</td>
	<td id"prodEdit" style="padding: 0px;padding-top: 0px;text-align: center;">
		<button class="btn btn-primary" type="button" style="background: rgba(255,255,255,0);color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;">
			<span style="text-decoration: underline;">Edit</span><br>
		</button>
	</td>
</tr>
