<tr style="font-size: 11px;">
	<td>{{productID}}</td>
	<td>{{name}}<br></td>
	<td>{{categToString prodCateg}}<br></td>
	<td>{{size}}</td>
	<td class="text-left">{{color}}</td>
	<td class="text-right">{{getPrice price}}</td>
	<td style="padding-top: 10px;text-align: center;">
		<a href="/editProduct/{{{productID}}}" style="font-weight: 600;color: #93623c;font-size: 12px;">
			<span style="text-decoration: underline;">Edit</span><br>
		</a>
	</td>
</tr>
