{{! style background if status = }}
	{{! completed - #b3ffb2 }}
	{{! pending - default }}
	{{! cancelled - #ffa7a7 }}
	{{! incomplete - #fffbd4 }}
	{{! refunded - #ffd1ed }}

{{! Neal's Note: use HBS expressions for styling}}

<tr style="font-size: 11px;background: rgba(0,0,0,0);">
	<td id="batchnumber"> {{batchID}} </td>
	<td id="prodname"> {{Product.name}} <br></td>
	<td id="categ"> {{Category.categName}} <br></td>
	<td id="size"> {{Product.size}} </td>
	<td class="text-left" id="color"> {{Product.color}} </td>
	<td class="text-right" id="qty"> {{SuppCart.qty}} </td>
	<td class="text-right" id="unitprice"> {{SuppCart.price}} </td>
	<td class="text-right" id="totalamt"> {{getPriceTotal SuppCart}} <br></td>
	<td id="status"> {{status}} </td>
	<td id="purchactions" style="padding: 0px;padding-top: 0px;text-align: center;">
		{{! if status = pending: use dropdown in purchpendingactions.hbs }}
		{{! if status = complete/refunded/cancelled: use dropdown in disabledactions.hbs }}
		{{! if status = incomplete: use dropdown in purchincactions.hbs }}
	</td>
</tr>
