<tr style="font-size: 11px;background: {{{getPurchStyle status}}};">
	<td id="batchnumber"> {{batchID}} </td>
	<td id="prodname"> {{Product.name}} <br></td>
	<td id="categ"> {{Category.categName}} <br></td>
	<td id="size"> {{Product.size}} </td>
	<td class="text-left" id="color"> {{Product.color}} </td>
	<td class="text-right" id="qty"> {{SuppCart.qty}} </td>
	<td class="text-right" id="unitprice"> {{SuppCart.price}} </td>
	<td class="text-right" id="totalamt"> {{getPriceTotal SuppCart}} <br></td>
	<td id="status"> {{status}} </td>
	<td id="purchactions" style="padding: 0px;padding-top: 0px;text-align: center;">
		{{! if status = pending: use dropdown in purchpendingactions.hbs }}
		{{! if status = complete/refunded/cancelled: use dropdown in disabledactions.hbs }}
		{{! if status = incomplete: use dropdown in purchincactions.hbs }}
		{{> (getPurchStatActs status)}}
	</td>
</tr>
