<tr style="font-size: 11px;background: rgba(0,0,0,0);">
	<td id="sprodDate"> 09/20/20 </td>
	<td id="sprodID"> {{productID}} </td>
	<td id="sprodName" style="width: 128px;"> {{name}} </td>
	<td class="text-break" id="sprodCateg"> {{categToString prodCateg}} </td>
	<td class="text-left" id="sprodColor"> {{color}} </td>
	<td class="text-right" id="sprodSize"> {{size}} </td>
	<td class="text-right" id="sprodPrice"> {{getPrice price}} </td>
</tr>
