<tr id="{{{buyOrdNo}}}" style="font-size: 11px;background: {{{getSalesStyle status}}};">
	<td> {{buyOrdNo}} </td>
	<td> {{Product.name}} <br></td>
	<td> {{categToString Category}} <br></td>
	<td> {{Product.size}} </td>
	<td class="text-left"> {{Product.color}} </td>
	<td class="text-right"> {{Cart.qty}} </td>
	<td class="text-right"> {{Cart.price}} </td>
	<td class="text-right"> {{Total}} <br></td>
	<td> {{modeOfPay}} </td>
	<td> {{isProofEmpty PaymentProof}} </td>
	<td> {{status}} </td>
	<td style="padding: 0px;padding-top: 0px;text-align: center;">
		{{! if status = confirmed: use dropdown in confirmactions.hbs }}
		{{! if status = pending: use dropdown in pendingactions.hbs }}
		{{! if status = in transit: use dropdown in transitactions.hbs }}
		{{! if status = cancelled/shipped: use dropdown in disabledactions.hbs }}
		{{> (getSalesStatActs status)}}
	</td>
<tr>
