{{! style background if status = }}
	{{! pending - default }}
	{{! confirmed - #b3ffb2 }}
	{{! cancelled - #ffa7a7 }}
	{{! in transit - #fffbd4 }}
	{{! shipped - #ffd6a6 }}

{{! Neal's Note: use HBS expressions for styling}}

<tr style="font-size: 11px;background: #b3ffb2;">
	<td id="ordernumber"> {{buyOrdNo}} </td>
	<td id="prodname"> {{Product.name}} <br></td>
	<td id="categ"> {{Category.categName}} <br></td>
	<td id="size"> {{Product.size}} </td>
	<td class="text-left" id="color"> {{Product.color}} </td>
	<td class="text-right" id="qty"> {{Cart.qty}} </td>
	<td class="text-right" id="unitprice"> {{Cart.price}} </td>
	<td class="text-right" id="totalamt"> {{!getPriceTotal Cart}} <br></td>
	<td id="mop"> {{modeOfPay}} </td>
	<td id="proof"> {{!isProofEmpty PaymentProof}} </td>
	<td id="status"> {{status}} </td>
	<td id="salesactions" style="padding: 0px;padding-top: 0px;text-align: center;">
		{{! if status = confirmed: use dropdown in confirmactions.hbs }}
		{{! if status = pending: use dropdown in pendingactions.hbs }}
		{{! if status = in transit: use dropdown in transitactions.hbs }}
		{{! if status = cancelled/shipped: use dropdown in disabledactions.hbs }}
		{{> (getSalesStatActs status)}}
	</td>
<tr>
