<tr style="font-size: 11px;background: rgba(0,0,0,0);">
    <td id="webProdImg"><img style="min-width: 80px;max-width: 80px;height: 80px;min-height: 80px;max-height: 80px;" src="{{{getFirstPhoto prodPhoto}}}"></td>
    <td id="webProdID"> {{productID}} </td>
    <td id="webProdName" style="width: 128px;"> {{name}} </td>
    <td class="text-break" id="webProdCateg"> {{categToString prodCateg}} </td>
    <td class="text-left" id="webProdColor"> {{color}} </td>
    <td class="text-right" id="webProdSize"> {{size}} </td>
    <td class="text-right" id="webProdPrice"> {{price}} </td>
    <td class="text-right" id="webProdViews">{{totalViews}}</td>
    <td class="text-right" id="webConvRate">{{getFracRate totalSales totalViews}}</td>
</tr>