<body style="font-family: Helvetica neue, sans-serif;background: rgb(242,216,190);">
	<div class="container" style="width: 100%;max-width: 100%;padding: 0px 50px;">
		<section></section>
		<section>
			<div class="row flex-wrap">
				<div class="col-10 col-xl-7 d-block align-items-center align-content-center flex-nowrap" style="position: static;margin: 15px;">
					<section style="margin-bottom: 75px;">
						<div>
							<!--TOTAL NUMBER OF ITEMS-->
							<span style="font-size: 30px;margin-left: 20px;">ITEMS: </span>
						</div>
						<hr>
						{{#each bag}}
							
							<div id="{{{productID}}}" class="row text-nowrap d-inline-flex flex-nowrap" style="position: relative;margin: 15px;">
								<div class="col-3 col-xl-3 d-xl-flex justify-content-xl-end">
									<a href="{{{getPURL productID}}}"><img src="../../assets/img/IMG_2403.JPG" style="max-height: 100px;"></a>
								</div>
								<div class="col-6 col-xl-7 flex-wrap">
									<div class="row flex-wrap">
										<div class="col-xl-8" style="padding-top: 2px;">
											<div>
												<a href="{{{getPURL productID}}}" style="color: rgb(0,0,0);">
													<h1 style="margin: 0px;font-size: 20px;">
														<strong>{{name}} - {{productID}}</strong>
													</h1>
												</a>
												<p style="margin: 0px;font-size: 16px;">Leggings / Set</p>
												<p style="margin: 0px;font-size: 16px;">Color: 
													<strong>{{color}}</strong>
												</p>
												<p style="margin: 0px;font-size: 16px;">Size: 
													<strong>{{size}}</strong>
												</p>
											</div>
										</div>
										<div class="col-xl-3" style="width: 90px;">
											<h3 class="text-left d-xl-flex justify-content-xl-center" style="font-size: 20px;text-align: center;">
												<strong>P&nbsp; {{getPrice price}}</strong>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-2 col-xl-2 flex-wrap">
									<div class="row">
										<div class="col">
											<input type="number" style="width: 100%;background-color: rgb(235,233,229);color: rgb(0,0,0);padding: 10px;text-align: center;border-width: 0;min-width: 50%;" value={{{qty}}}>
										</div>
									</div>
									<div class="row">
										<div class="col d-xl-flex justify-content-xl-end">
											<a href="#" style="text-align: right;color: rgb(126,130,136);">
												<span style="text-decoration: underline;" class="bagRemove">Remove</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							
						{{/each}}
					</section>
					<div></div>
				</div>
				<!--MY BAG-->
				<div class="col-xl-1" style="max-width: 2%;"></div>
				<div class="col">
					<div style="top: 30px;background: #ffffff;padding: 30px;height: 100%;">
						<h1 style="margin: 0px;font-size: 20px;margin-bottom: 14px;text-align: center;">
							<strong>MY BAG</strong>
						</h1>
						<hr>
						<div style="margin-bottom: 30px;margin-top: 10px;">
							<div class="d-inline-flex flex-wrap" style="width: 100%;background: #f1f1f1;border-radius: 0px;padding: 10px;margin-top: 15px;">
								<div class="col" style="width: 60%;">
									<p class="d-xl-flex justify-content-xl-start align-items-xl-end" style="margin: 0px;font-size: 20px;">SUBTOTAL</p>
									<p style="margin-bottom: 0px;font-size: 16px;">
										<em>Excluding shipping fee</em>
									</p>
								</div>
								<p class="d-xl-flex justify-content-xl-end align-items-xl-start" style="margin: 0px;width: 40%;font-size: 25px;text-align: right;">
									<!--TOTAL-->
									<strong>P {{getPriceTotal bag}}</strong>
								</p>
							</div>
							<!--CHECK OUT LINK thing-->
							<a href="checkout.html">
								<button class="btn btn-primary d-xl-flex justify-content-xl-center align-items-xl-center" type="button" style="height: 60px;margin-top: 15px;width: 100%;color: rgb(242,216,190);background: rgb(148,96,59);font-size: 30px;border-style: none;padding: 5px;margin-bottom: 15px;">
									<strong>CHECK OUT</strong>
								</button>
							</a>
						</div>
						<hr>
						<div style="margin-bottom: 15px;">
							<p style="text-align: center;margin-bottom: 5px;">
								<strong>Payment Process</strong>
							</p>
							<div class="row">
								<div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
									<img src="../../assets/img/bdo.png" style="width: 70%;">
								</div>
								<div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
									<img src="../../assets/img/gcash.png" style="width: 100%;">
								</div>
							</div>
							<div class="row">
								<div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
									<img src="../../assets/img/paypal.png" style="width: 60%;">
								</div>
							</div>
						</div>
						<div style="margin-top: 40px;">
							<p style="text-align: center;margin-bottom: 5px;"><strong>Note</strong></p>
							<p style="text-align: center;">All items are for pre-order, which means it will take atleast 2 weeks for your orders to arrive. Thank you for understanding. Happy shopping!</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="d-inline-flex" style="margin-top: 20px;margin-bottom: 20px;"><div class="d-inline-flex"></div></section>
		<div></div>
	</div>

</body>