<body style="font-family: Helvetica neue, sans-serif;">

	<div class="container" style="margin-left: 0;margin-right: 0;width: 100%;max-width: 100%;margin-top: 90px;padding: 0px 50px;margin-bottom: 66px;height: 100%;">
		<section>
			<!--COLLECTION OR ALL/BOTTOMS/TOP-->
			<div class="d-inline-flex" style="width: 100%;">
				<span style="font-size: 35px;width: 100%;">ALL / Collections</span>
				<div class="d-xl-flex justify-content-xl-end" style="width: 100%;">
					<div class="d-inline-flex" style="margin: 10px;">
						<span class="d-xl-flex align-items-xl-center" style="font-size: 20px;">Filter by:&nbsp;</span>
						<div class="dropdown show d-inline-flex" style="width: 178px;">
							<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background: rgb(231,231,237);color: rgb(0,0,0);width: 160px;text-align: right;">&nbsp; &nbsp;</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Tops</a>
								<a class="dropdown-item" href="#">Bottoms</a>
								<a class="dropdown-item" href="#">Sets</a>
								<a class="dropdown-item" href="#">Accesories</a>
							</div>
						</div>
					</div>
					<div class="d-inline-flex" style="margin: 10px;">
						<span class="d-xl-flex align-items-xl-center" style="font-size: 20px;">Sort by:&nbsp;</span>
						<div class="dropdown show d-inline-flex" style="width: 178px;">
							<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background: rgb(231,231,237);color: rgb(0,0,0);width: 160px;text-align: right;">&nbsp; &nbsp;</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Price: low to high</a>
								<a class="dropdown-item" href="#">Price: high to low</a>
								<a class="dropdown-item" href="#">Item name</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="row flex-wrap" style="width: 100%;">
				<!-- PILI KA NALANG FORMAT HEHE -->
				<!-- PRODUCT CARD (1) -->
				{{#each products}}
					<div class="col-xl-3" style="width: 320px;margin-top: 10px;margin-bottom: 20px;max-width: 20%;">
						<a href="{{{getPURL productID}}}">
							<div>
								<img class="flex-shrink-0" src="{{{getFirstPhoto prodPhoto}}}" style="max-width: 100%;">
								<div class="text-nowrap d-inline-block" style="margin-bottom: 10px;padding-top: 5px;padding-right: 10px;padding-left: 10px;padding-bottom: 5px;position: static;color: rgb(0,0,0);">
									<h2 class="flex-nowrap" style="margin: 0px;font-size: 3vmin;">
										<strong>{{name}}<br>- {{productID}}</strong>
									</h2>
									<h3 style="margin: 0px;font-size: 2.5vmin;">
										<strong>P {{getPrice price}}</strong>
									</h3>
									<p style="margin: 0px;font-size: 2.5vmin;">{{prodCateg.categName}}</p>
									<p style="margin: 0px;font-size: 2.5vmin;">Color - {{color}}</p>
								</div>
							</div>
						</a>
					</div>
				{{/each}}

			</div>
		</section>
	</div>

</body>
